@import './bootstrap-variables';
$sidebar-bg: #C5A88B;
$sidebar-nav-link-active-color: #E45253;
$sidebar-nav-link-active-bg:#fff;
$sidebar-nav-link-hover-color: #E45253;
$sidebar-nav-link-hover-bg:#fff;