@media print {
    header.app-header {
        display: none;
    }
    footer.footer {
        &.app-footer {
            display: none;
        }
    }
    div.app-body {
        margin: 0 !important;
        padding: 0 !important;
        border: 0 !important;
        .sidebar {
            display: none;
        }
        main.main {
            margin: 0 !important;
            padding: 0 !important;
            border: 0 !important;
            .breadcrumb {
                display: none;
            }
        }
    }
    .animated > :not(.card-model) {
        display: none;
    }
}
